<!DOCTYPE html>
<html>

<head>
  <title>Tronto</title>
  <meta name="viewport" content="width=device-width">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.2/chart.min.js"></script>
  <script sync src="https://platform.twitter.com/widgets.js"></script>

  <script type="text/javascript" src="/static/bootstrap.js"></script>
  <link href="/static/bootstrap.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/static/script.js"></script>
  <link href="/static/script.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/static/bootstrap-tagsinput.js"></script>
  <script type="text/javascript" src="/static/typeahead.js"></script>
  <link href="/static/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
  <link href="/static/typeahead.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/static/chart.js"></script>
  <script type="text/javascript" src="/static/chatbot.js"></script>
  <link href="/static/chatbot.css" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="#">
  <link rel="icon" href="/static/images/tronto_logo.png" type = "image/x-icon">
</head>


<body>
  <div id="logo">TRONTO</div>
  <div class="container">
    <div class="search-grid-container">
      <h1> An Ontology-based Tool to Evaluate Systems Vulnerability </h1>
      <h3> University of California, Davis </h3>

      <br>

      <div class="knopki">
        <a href="/demo" class="btn btn-info btn-lg active" role="button" id="demoButton" aria-pressed="true">Go to Demo</a>
        <a href="/about" class="btn btn-info btn-lg active" role="button" id="demoButton" aria-pressed="true">How it Works</a>
      </div>
    </div>

    <br>

    <div class="logo-container">
      <div class="logo-child">
        <img class="logo_img" src="/static/images/UCD_logo.png">
      </div>
      <div class="chart-child">
        <img class="logo_img" src="/static/images/NSF_logo.png">
      </div>
    </div>

  </div>

</body>

</html>
