/* ---------- CHAT BOT ENGINE CSS ----------- */
/* from: https://codepen.io/adamcjoiner/pen/ggxdJK */

.chatbot-container{
	padding: 7px;
	background-color: lightsteelblue;
	padding-bottom: 45px;
	border-radius: 5px;
}
.chat {
	border: 1px solid #ccc;
	height: 400px;
	overflow-y: scroll;
	background-color: white;
	border-radius: 5px;
}

.chat div {
	margin: 10px 12px 15px;
	line-height: 20px;
}

.chat .party {
	font-weight: bold;
}

.chat .you {
	color: #b4474b;
}

.chat .other {
	color: #315a7d;
}

.chat .text {

}

.busy {
	position: absolute;
	padding: 3px 0;
	color: white;
	display: none;
	font-size: 10px;
	font-weight: bold;
}

.input {
	margin-top: 20px;
	border-radius: 5px;
}

.input input {
	vertical-align: top;
	float: left;
	border: 1px solid #ccc;
	padding: 5px;
	width: 80%;
	margin: 0;
	border-radius: 5px;
}

.input a {
	vertical-align: top;
	float: right;
	font-weight: bold;
	border: 1px solid #ccc;
	background-color: #efefef;
	padding: 5px;
	color: black;
	text-decoration: none;
	border-radius: 5px;
	text-align: center;
	width: 18%;
}

.input a:hover {
	background-color: #ddd;
	cursor: pointer;
}
