body {
  height:850px;
  width:850px;
  margin: auto;
  padding-top:1%;
  font-family: Tahoma, sans-serif;
  font-size:18px;
}

#logo{
  font-family: Courier New;
  font-size:120px;
  font-weight: normal;
  color:steelblue;
  text-align:center;
  vertical-align:middle;
  height:20%;
}

.container {
  width:850px;
}

.search-grid-container {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
  width: 100%;
}

.knopki {
  padding: 20px;
  text-align:center;
}

textarea {
  width:500px;
  resize: none;
}

#result {
  color:red;
  font-style: italic;
  font-size: 18px;
}

#result-non-red {
  font-style: italic;
  font-size: 18px;
}

.result-item {
  background-color: green;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
}

.tweetObject {
  width: 340 !important;
}

.tweetObject iframe {
  border: none !important;
  box-shadow: none !important;
}

.tweet-container {
  display:inline-block;
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}

.cell {
  width: 340px;
  flex: 1;
}
