<!DOCTYPE html>
<html>

<head>
  <title>Tronto</title>
  <meta name="viewport" content="width=device-width">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script sync src="https://platform.twitter.com/widgets.js"></script>

  <script type="text/javascript" src="/static/bootstrap.js"></script>
  <link href="/static/bootstrap.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/static/script.js"></script>
  <link href="/static/script.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/static/bootstrap-tagsinput.js"></script>
  <script type="text/javascript" src="/static/typeahead.js"></script>
  <link href="/static/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
  <link href="/static/typeahead.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="logo">TRONTO</div>
  <div class="container">
  <div class="search-grid-container">

    <div class="form-group" id="appNameForm">
      <label for="appNameFormInput">Enter your application's name:</label>
      <textarea class="form-control" name="NameInput" id="appNameFormInput" rows="1"></textarea>
    </div>

    <div class="form-group" id="dependenciesForm">
      <label for="dependencyTagsInput">Enter dependencies (name and version if applicable):</label>
      <input type="text" name="dependencyInput" id="dependencyTagsInput" value="" data-role="tagsinput">
      <script> add_typeahead(); </script>
    </div>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="embedCheck">
      <label class="custom-control-label" for="embedCheck"> Embed application into ontology</label>
    </div>

    <div class="knopki">
    <button onclick="transferJSON()" class="btn btn-info">Check</button>
    <button onclick="clearForm()" class="btn btn-info">Clear</button>
  </div>

  </div>

</div>
  <div class="container">
    <p id="result"></p>
  </div>

  <div class="container">
  <table class="table table-bordered hidden" id="dependencyTable">
  </table>
</div>

<div class="tweet-container hidden" id="tweet-container">
    <div class="tweetObject" id="tweet1" tweetID="1359031548859719681"></div>
    <div class="tweetObject" id="tweet1" tweetID="1359031539313508352"></div>
    <div class="tweetObject" id="tweet1" tweetID="1359031507919241216"></div>
    <div class="tweetObject" id="tweet1" tweetID="1359031487933341699"></div>
    <div class="tweetObject" id="tweet1" tweetID="1359031463212158978"></div>
    <div class="tweetObject" id="tweet1" tweetID="1359031445528797184"></div>
    <div class="tweetObject" id="tweet1" tweetID="1359031419876630529"></div>
    <div class="tweetObject" id="tweet1" tweetID="1359031371151249408"></div>
    <div class="tweetObject" id="tweet1" tweetID="1359031357226237955"></div>
    <div class="tweetObject" id="tweet1" tweetID="1359031347877183489"></div>
    <div class="tweetObject" id="tweet1" tweetID="1359031344496582657"></div>
    <div class="tweetObject" id="tweet1" tweetID="1359031312112377857"></div>
    <div class="tweetObject" id="tweet1" tweetID="1359031307800481793"></div>
    <div class="tweetObject" id="tweet1" tweetID="1359031302524194817"></div>
    <div class="tweetObject" id="tweet1" tweetID="1359031297570725888"></div>
    <div class="tweetObject" id="tweet1" tweetID="1359031267023495170"></div>
    <div class="tweetObject" id="tweet1" tweetID="1359031223662743553"></div>
    <div class="tweetObject" id="tweet1" tweetID="1359031222437965826"></div>
    <div class="tweetObject" id="tweet1" tweetID="1359031214477254657"></div>
    <div class="tweetObject" id="tweet1" tweetID="1359031201458233347"></div>
    <div class="tweetObject" id="tweet1" tweetID="1359031548859719681"></div>
</div>
</body>

</html>
